@model IEnumerable<GeorgeSite.Models.Entities.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<div class="container">
    <h1 class="font-weight-bold">STOCK LIST FOR TODAY</h1>
    <p>
        <a class="btn btn-info" asp-action="Create"><i class="fa fa-plus-circle fa-2x"></i> New Item</a>
    </p>
    <table class="table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnHand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="ItemName">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnHand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor)
                    </td>
                    <td>
                        <img src="@item.ImageUrl" width="100" height="100"/>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt fa-3x" style="color: red;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
