@model IEnumerable<GeorgeSite.Models.Entities.Item>
@{
    ViewData["Title"] = "Home";
}
<div class="Home">
    <h1 class="text-center">Welcome to the store</h1>
    <div class="container">
        <div class="card-columns">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap" style="width:100%; height:50%;" />
                    <div class="card-body">
                        <p class="card-text text-right">R @item.Price</p>
                        <p class="card-text font-weight-bold">@item.Name</p>
                        <p class="card-text">@item.Description</p>
                        <p>
                            <a class="btn btn-primary" asp-controller="Customer" asp-action="Cart" asp-route-id="@item.Id" method="get">Add to cart</a>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>